* {
    box-sizing: border-box;
}

label{
    float: left;
    display: block;
    width:8em;
    padding-right: 1em;
  
}

input{
    display:sticky;
    margin-top:25%;
    
}

#mySubmit{
    margin-left: 10px;
}

textarea{
    display: block;
    margin-bottom: 1em;
}

header, nav, main, footer {
    display: block;
}

#resort {
    color: #000033;
    font-size: 1.2em;
}

/* table {
    width: 90%;
    border: 1px;
    border-color: #3399CC;
    margin: auto;
    border-collapse: collapse;

  

}  */

#text {
    text-align: center;
}

/* td,th {
    padding: 5px;
    border: 1px;
    border-color: #3399CC;
    text-align: center;

} */



tbody tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
        box-shadow: none;
    }
    h1 {
        margin: 0;
    }
    nav {
        float: none;
        width: auto;
        padding-top: .01em;
        padding-left: 1em;
        padding-right: 1em;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding-right: 2em;
    }
    main {
        padding: 1em;
        margin-left: 0;
        font-size: 90%;
    }
    footer {
        margin: 0;
    }

    #bitcoin {
        margin-left: 100px;
    }

    #homehero {
        margin-left: 0;
    }
    #yurthero {
        margin-left: 0;
    }
    #trailhero {
        margin-left: 0;
    }
}

@media only all and (max-width:768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: .3em;
    }
    nav {
        padding: 0;
    }
    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.1em;
        border-bottom: #330000;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        padding: 0;
    }
    main {
        padding-top: 0.1em;
        padding-right: 0.6em;
        padding-bottom: 0.1em;
        padding-left: 0.4em;
    }
    #homehero {
        display: none;
    }
    footer {
        padding: 0;
    }
}

#wrapper {
    
    min-width: 700px;
    max-width: 1024px;
    background-color: #90C7E3;
    box-shadow: 5px 5px 5px;
    min-width: 700px;
    max-width: 1024px;
    width: 100%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 200px;
 
   
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#homehero {
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 170px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

body {
    background-color: #FFFFFF;
    background-image: url(background.jpg);
    color: #666666;
    font-family: Arial, Verdana, sans-serif;

}

header {
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, serif;
    background-image: url("sunset.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    padding-left: 20px;
    height: 72px;
}

h1 {
    line-height: 200%;
    padding-left: 2px;
    height: 72px;
    margin-bottom: 0;
}

h2 {
    color: #3399CC;
    font-family: Georgia, serif;
}

h3 {
    color: #000033;
}

nav {
    font-weight: bold;
    float: left;
    left: 160px;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 20px;
}

nav a {
    padding-right: 2em;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
}

main {
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-left: 2em;
    padding-right: 2em;
    padding: 1em;
    margin-left: 0;
    font-size: 90%;
    display: block;
}

dt {
    color: #000033;
    font-weight: bold;
}

footer {
    background-color: #FFFFFF;
    margin-left: 170px;
    padding: 10px;

    font-size: .70em;
    font-style: italic;
}

video,embed{
    float: right;
    margin: 2em;
}


form{
    position: relative;
    right:30px;
}



/* #bitcoin{
    padding-left: 600px;
    padding-right: 0px;
    position:relative;
    top:-200px;
    width:1450px;
} */


#formtext{
    /* padding-left: 30px;
    padding-top: 30px; */
    text-align: center;
}

/* #bitcoinnnextweekprediction{
    padding-left: 600px;
    padding-right: 0px;
    padding-bottom:1000px;
    position:relative;
    bottom:-200px;
    width:200px;
   
  
} */

.block3{
    width: 140%;
    /* margin: auto; */
    box-sizing: border-box;
    justify-content: flex-start;
    display: flex;
    align-self: stretch;
  }

  .float3l{
    width: 60%;
    float: left;
    
    box-sizing: border-box;
    height: auto;
  
  }
  .float3r{
    /* padding-top: 3em; */
    float: right;
    width: 40%;
    /* align-self: center; */
    box-sizing: border-box;
    height: auto;
    margin:auto;
    font-size: larger;
}